<div *ngIf="pokemon" class="p-grid" style="justify-content: center">

  <div class="p-col-12" style="text-align: center">
    <h2>Detail information about <span style="color: red"></span> {{pokemon.name.toUpperCase()}}</h2>
  </div>

  <br/>
  <br/>

  <p-card class="p-col-8" [header]="'Name: ' + pokemon.name.toUpperCase()"  styleClass="p-card-shadow">
    <div style="display: flex">
      <div class="p-col-5" style="float:left;">
        <img id="pokemon-image" alt="Pokemon" src="assets/pokemon_logo.png">
      </div >
      <div class="p-col-7">
        <p-tree [value]="pokemonDataTree"></p-tree>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Back" icon="pi pi-check" (onClick)="router.navigate([''])"></p-button>
    </ng-template>
  </p-card>

</div>
